<header>
  <div>
    <%= link_to 'Home', '/index.html' %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'Articles', '/articles.html' %></li>
      <li><%= link_to 'Notes', '/notes.html' %></li>
      <li><%= link_to 'A thing a day', '/a-thing-a-day.html' %></li>
    </ul>
  </nav>
</header>
