---
pageable: true
per_page: 10
layout: layout
title: A thing a day
description: "I'm challenging myself to share a 'thing' a day. Design, photography, anything."
---

<div class="main-content">
  <h1>
    <span>Design</span>
    <span>Photography</span>
    <span>Anything</span>
  </h1>

<%= blog("things").options.prefix %>
