header {
  @include outer-container(100vw);
  @include span-columns(12);
  align-self: flex-start;
}
.logo {
  font-weight: bold;
  font-size: modular-scale(4);
  @include span-columns(3);
  $mobile: new-breakpoint(max-width 500px 4);
  @include media($mobile) {
    @include span-columns(12);
  }
  span {
    border-bottom: 0.4rem solid palette(current, light);
    padding-bottom: 0.2rem;
  }
}

.main-nav {
  @include span-columns(9);
  font-weight: bold;
  text-align: right;
  margin-top: modular-scale(1);
  li {
    display: inline-block;
    margin-left: modular-scale(5);
    font-size: modular-scale(1);
  }
  .active {
    a {
      border-bottom: 0.25rem solid palette(current, light);
      padding-bottom: 0.4rem;
    }
  }
}
